body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.taskOne {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid red;
    background-color: darkgray;
}

.taskTwo {
    padding: 20px;
    border: 1px solid red;
    background-color: darkgray;
}

.www {
    background-color: yellow;
}